<md-dialog aria-label="Admin login form">

  <md-content>
    <form ng-submit="submit()" name="form" novalidate>
      <md-input-container>
        <label>Username</label>
        <input type="email" ng-model="form.username" required>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="form.password" required>
      </md-input-container>

      <div layout="row" layout-margin layout-fill>
        <md-button type="submit" class="md-primary"
          aria-label="Submit" flex>Submit</md-button>
        <md-button type="button" class="md-warn" ng-click="cancel()"
          aria-label="Cancel" flex>Cancel</md-button>
      </div>
    </form>
  </md-content>

</md-dialog>
