<md-toolbar md-theme="indigo">
  <div class="md-toolbar-tools">
    <span class="md-flex">Pages#index</span>
  </div>
</md-toolbar>

<md-content class="md-content-padding">
  <p>Find me in app/views/pages/index.html.erb</p>
</md-content>
