<md-toolbar class="page-header" ng-controller="HeaderCtrl as headerCtrl">
  <div class="md-toolbar-tools">
    <div>Hyper Guides</div>
    <span flex></span>
    <md-button ng-click="headerCtrl.openLoginModal()" layout-align="end center"
      aria-label="Open login dialog">Admin Login</md-button>
  </div>
</md-toolbar>

<md-content class="md-padding">
</md-content>
