<md-content class="md-padding">
  <md-whiteframe class="md-whiteframe-z1" layout layout-align="start">
    <md-content class="md-padding" layout-fill>
      <div class="form-field" layout="horizontal" layout-padding>
        <label for="title" flex="25">Title</label>
        <input type="text" id="title" ng-model="newGuideCtrl.guide.title" flex>
      </div>

      <div class="form-field" layout="horizontal" layout-padding>
        <label for="body" flex="25">Body</label>
        <textarea id="body" ng-model="newGuideCtrl.guide.body" flex></textarea>
      </div>
    </md-content>
  </md-whiteframe>
</md-content>
