<md-content class="md-padding">
  <md-whiteframe class="md-whiteframe-z1" layout layout-align="start">
    <md-content class="md-padding" layout-fill>
      <md-input-container>
        <label>Title</label>
        <input type="text" ng-model="<%= ctrl %>.guide.title" required flex>
      </md-input-container>

      <md-input-container>
        <label>Short description</label>
        <textarea ng-model="<%= ctrl %>.guide.short_description" required flex></textarea>
      </md-input-container>

      <md-input-container>
        <label>Body</label>
        <textarea ng-model="<%= ctrl %>.guide.body" required flex></textarea>
      </md-input-container>
    </md-content>
  </md-whiteframe>
</md-content>
