<md-toolbar md-theme="indigo" class="page-header"
  ng-controller="HeaderCtrl as headerCtrl">
  <div class="md-toolbar-tools" layout="horizontal"
    layout-align="space-between">
    <div>Hyper Guides &gt; {{ guideCtrl.guide.title }}</div>

    <md-button ng-click="headerCtrl.openLoginModal()"
      theme="indigo" layout-align="end center"
      aria-label="Open login dialog">Admin Login</md-button>
  </div>
</md-toolbar>

<md-content class="md-padding main-content"
  ng-bind-html="guideCtrl.guide.body | markdown">
</md-content>
