<md-toolbar md-theme="indigo">
  <div class="md-toolbar-tools">
    <span class="md-flex">Hyper Guides &gt; <%= @guide.title %></span>
  </div>
</md-toolbar>

<md-content class="md-content-padding">
  <%= raw @guide.body %>
</md-content>
