<div ng-controller="GuideCtrl as guideCtrl">
  <md-toolbar md-theme="indigo" class="page-header">
    <div class="md-toolbar-tools">
      <span class="md-flex">Hyper Guides &gt; {{ guideCtrl.guide.title }}</span>
    </div>
  </md-toolbar>

  <md-content class="md-content-padding main-content"
    ng-bind-html="guideCtrl.guide.body | markdown">
  </md-content>
</div>
