<md-toolbar class="page-header" ng-controller="HeaderCtrl as headerCtrl">
  <div class="md-toolbar-tools">
    <div>Hyper Guides &gt; {{ guideCtrl.guide.title }}</div>
    <span flex></span>
    <md-button ng-click="headerCtrl.openLoginModal()"
      aria-label="Open login dialog">Admin Login</md-button>
  </div>
</md-toolbar>

<md-content class="md-padding main-content"
  ng-bind-html="guideCtrl.guide.body | markdown">
</md-content>
