<!DOCTYPE html>
<html lang="nb" ng-app="hyper-guides" ng-controller="MainCtrl as mainCtrl">
  <head>
    <title>Hyper Guides</title>

    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :application %>

    <%= csrf_meta_tags %>
  </head>
  <body layout="vertical">

    <ng-view></ng-view>

  </body>
</html>
