<!DOCTYPE html>
<html lang="nb" ng-app="hyper-guides" ng-controller="MainCtrl as mainCtrl">
  <head>
    <title>Hyper Guides</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">

    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :application %>

    <%= csrf_meta_tags %>
  </head>
  <body layout="column">

    <ng-view></ng-view>

    <script type="text/ng-template" id="login-modal">
      <%= render 'sessions/form' %>
    </script>

  </body>
</html>
